<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>

<!-- Main content -->
<main class="vh-100 container pt-2 text-center d-flex align-items-center justify-content-center">
    <section>
        <h1 class="display-1 fw-bold">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eos adipisci magnam quam incidunt? Esse nobis neque ullam asperiores! Aliquid repellendus commodi omnis doloremque molestias exercitationem aspernatur culpa, vero fugit eligendi recusandae repellat quae sint accusamus vel nobis nostrum voluptatibus, beatae voluptas! Accusantium excepturi eaque vel sit quidem! Recusandae dolorem, ea numquam est expedita assumenda quibusdam unde. Cupiditate dolorem illum corrupti similique dicta velit aspernatur nesciunt eligendi ad exercitationem aliquam dolorum quis repudiandae fugit rerum, dolores commodi adipisci iste blanditiis laudantium odio harum, nostrum ipsum. Aliquam corporis numquam error reprehenderit illum rerum obcaecati adipisci ut, est quod deleniti dolores accusamus?</p>
    </section>
</main>

<%- include('partials/footer') %>
</body>
</html>